.head1 p{
    color: white;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.head1 h1{
    color: orange;
    font-size: 50;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-bottom: 50px;
}

.middle
{
    margin: auto;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    width: 72%;
    border: 1px dashed orange;
    border-radius: 15px;
    opacity: 1; /* Adjust the opacity as needed */
    z-index: -2;
    background: rgb(62, 62, 62);
}

#text
{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    margin-left: 15px;
}

.middle span
{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: orange;
}

.row11{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.row11 input{
    height: 50px;
    width: 400px;
    margin-right: 25px;
    background-color: burlywood;
    border-radius: 8px;
    border: none;
    color: black;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 25px;
}

.row2{
    margin: auto;
    padding: 0;
    justify-content: center;
    display: flex;
}
.row2 input{
    height: 80px;
    width: 700px;
    /* margin-right: 25px; */
    background-color: burlywood;
    border-radius: 8px;
    border: none;
    color: black;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 25px;
}

.row11 select {
    height: 50px;
    width: 400px;
    margin-right: 25px;
    background-color: burlywood;
    border-radius: 8px;
    border: none;
    color: black;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 25px;
    cursor: pointer;
}

.footer
{
    display: flex;
    justify-content: center;
}

.footer button
{
    width: 200px;
    height: 45px;
    background-color: orange;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 40px;
    cursor: pointer;
    margin-top: 50px;   
    border: none;
}
.row4{
    display: flex;
    justify-content: center;
}
.row4 button{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100%;
    font-size: 22px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 25px;

}